.color{
    width:60px;
    height:60px;
    border: solid black 1px;
    display: inline-block;
}
#black {
    background-color: black;    
}
#red {
    background-color:red;    
}
#yellow {
    background-color: yellow;    
}
#blue {
    background-color: blue;    
}